@import "../../styles/styles";

.search {
  position: relative;
  flex: 1;
  height: 100%;

  &__input-container {
    border-radius: 3px;
    background-color: $cNWhite;
    border: 1px solid $cNOffBlack;
    box-shadow: none;
    min-height: 2.6rem;
    padding: 0.5rem;
    width: 100%;
    max-height: inherit;
  }

  &__input {
    @include fBody("sm");

    border-radius: 0;
    border: none;
    width: 100%;
    color: $cNOffBlack;
    outline: none;
  }

  &__dropdown {
    display: none;
    position: relative;
    background-color: $cNWhite;
    width: 100%;
    min-height: 3rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 12px rgba($cNOffBlack, 0.2);
    padding: 0.5rem;
    cursor: pointer;
    overflow-y: auto;

    &--active {
      display: block;
      max-height: calc(100% - 3rem);
    }

    &__item {
      margin: 0.5rem 0;
      border-bottom: 1px solid $cMud;

      &--active {
        background-color: $cASuccessLight;
      }

      &:hover {
        background-color: $cMist;
      }
    }
  }
}
